{% extends 'base.html.twig' %}

{% block body %}
 <main role="main">
    <div class="row">
      <div class="col-12 banner">
        <div class="container">
          {% for project in projects %}
            <div class="project-container col-12">
              <div class="row">
                {{ loop.index }}. &nbsp; <a href="{{ path('view_project', {'id': project.getId }) }}">{{ project.getName }}</a>
              </div>

              <div class="row">
                {% include 'Shared/stars.html.twig' with {'stars':project.getStars} %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>     

   </main>
{% endblock body %}
