{% extends 'base.html.twig' %}

{% block body %}
 <main role="main">
    <div class="row">
      <div class="col-12 banner">
        <div class="container">
          <div class="input-container">
            <form>
              <div class="row">
                <div class="col-2">
                  Sort by:
                </div>

                <div class="col-2">
                  <select name="sortParam">
                    <option value="id" {% if sortParam and sortParam == 'id'%} selected="selected" {% endif %}>Id</option>
                    <option value="name" {% if sortParam and sortParam == 'name'%} selected="selected" {% endif %}>Name</option>
                    <option value="stars" {% if sortParam and sortParam == 'stars'%} selected="selected" {% endif %}>Stars</option>
                    <option value="repository_creation_date" {% if sortParam and sortParam == 'repository_creation_date'%} selected="selected" {% endif %}>Creation Date</option>
                    <option value="repository_last_push_date" {% if sortParam and sortParam == 'repository_last_push_date'%} selected="selected" {% endif %}>Last Push Date</option>
                  </select>
                </div>

                <div class="col-2">
                  <select name="sortDirection">
                    <option value="ASC" {% if sortDirection and sortDirection == 'ASC'%} selected="selected" {% endif %}>ASC</option>
                    <option value="DESC" {% if sortDirection and sortDirection == 'DESC'%} selected="selected" {% endif %}>DESC</option>
                  </select>
                </div>

                <div class="col-2">
                 <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
              </div>
            </form>
          </div>

          {% for project in projects %}
            <div class="project-container col-12">
              <div class="row">
                {{ loop.index }}. &nbsp; <a href="{{ path('view_project', {'id': project.getId }) }}">{{ project.getName }}</a>
              </div>

              <div class="row">
                {% include 'Shared/stars.html.twig' with {'stars':project.getStars} %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>     

   </main>
{% endblock body %}
